<body>
	<div class="row">

		<!-- Contact Details -->
		<div class="large-12 columns">

			<%=image_tag("dota2logo.png")%>
			
			<iframe src="https://docs.google.com/forms/d/1_rylQqjNDswLDTye-lTVphpGl1d1GxE0Bcxvl_UKO0o/viewform?embedded=true" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
	</div>
</body>