<body>
	<div class="row">

		<!-- Contact Details -->
		<div class="large-12 columns">

			<h3><a href="http://on.fb.me/1qwynvv">Click here to sign up for Facecheck 1 and find more teammates!</a></h3>

			<%=image_tag("leaguelogo.png")%>


			
			<iframe src="https://docs.google.com/forms/d/1KXeoJ5yzARUbc5aLN4_T8k2Ywjafuhmc2SeXbS5yDE4/viewform?embedded=true" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
	</div>
</body>
