<body>
	<div class="row">

		<!-- Contact Details -->
		<div class="large-12 columns">

			<%=image_tag("starcraft2logo.png")%>
			
			<iframe src="https://docs.google.com/forms/d/1KmJb3YM2KsVRGsZGDFTqvtn9hzFTTe8_-qZWwJ5B60s/viewform?embedded=true" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
	</div>
</body>